@model IEnumerable<LAFARGE.Models.Operateur>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PasswordOperateur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullnameOperateur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroOperateur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdresseOperateur)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PasswordOperateur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullnameOperateur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroOperateur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdresseOperateur)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CinOperateur">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CinOperateur">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CinOperateur">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
