@model LAFARGE.Models.Client

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Client</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Nom
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomClient)
        </dd>
        <dt class = "col-sm-2">
            Numero
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroClient)
        </dd>
        <dt class = "col-sm-2">
            Situation Financiere
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SituationFinanciere)
        </dd>
        <dt class = "col-sm-2">
            Solde
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoldeClient)
        </dd>
        <dt class = "col-sm-2">
            Adresse
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdresseClient)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CodeClient">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
