@model IEnumerable<LAFARGE.Models.Chauffeur>

@{
    ViewData["Title"] = "Chauffeurs";
}

<h1>@ViewBag.title</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                CIN
            </th>
            <th>
                Fullname
            </th>
            <th>
                Numero
            </th>
            <th>
                Adresse
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CinChauffeur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullnameChauffeur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroChauffeur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdresseChauffeur)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CinChauffeur">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CinChauffeur">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CinChauffeur">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
