@model LAFARGE.Models.Commande

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Commande</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Unite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Unite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Matricule)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Matricule)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tare)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tare)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TonnageReel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TonnageReel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeureChargement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeureChargement)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeureLivraison)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeureLivraison)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Verification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Verification)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CinChauffeurNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CinChauffeurNavigation.CinChauffeur)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CinOperateurNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CinOperateurNavigation.CinOperateur)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodeClientNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodeClientNavigation.AdresseClient)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdQualityNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdQualityNavigation.NameQuality)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BonCommande">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
